#TypeScript Map Files
*.map

# Installed modules
node_modules/

# Compiled Tests
/bin/tests/

# .npmignore in bin folder
/bin/.npmignore

# eslint rules
.eslintrc

# other
.idea
.DS_Store
./**/.DS_Store
/npm-debug.log
